.main-wrapper {
    position: relative;
    margin-top: 55px;
    @media (min-width: break($m)) {
        margin-top: 95px;
    }
    @media (min-width: break($l)) {
        margin-top: 120px;
    }
    &:after,
    &:before {
        @extend %overlay;
    }
    &:before {
        z-index: 10000;
    }
}
body.open-mobile-menu .main-wrapper {
    left: -280px;
    @media (min-width: break($l)) {
        left: 0;
    }
}
.content-header {
    @include flex-align-items(center);
    text-align: center;
}
.content-header h1 {
    color: $c-gray;
    margin-bottom: $padding/2;
    @media (min-width: break($m)) {
        margin-bottom: $padding;
    }
}
.content-header p {
    text-align: center;
}
.content-header__holder {
    max-width: $container-width;
    margin: 0 auto;
    width: 100%;
}
.content-header + .large-p {
    @extend .content-header__holder;
    text-align: center;
    max-width: 650px;
    margin: 0 auto 0 auto;
    @media (min-width: break($m)) {
        margin: $padding auto;
    }
}
.content-header__title {
    @extend %h1;
}
.content-header__intro {
    @extend %h3;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}
.content-header .content-header__featured_image {
    max-width: 1128px;
    margin: 0 auto;
    margin-top: $padding * 2;
    img {
        width: 100%;
    }
    p {
        @extend %image-caption;
    }
}
.content-header__featured_image {
    position: relative;
}
.author-date {
    margin: ($padding) 0 ($padding * 2) 0;
    color: $c-gray;
    font-size: 14px;
}
.graduation-class {
    @extend h4;
    font-weight: 600;
}
.content-header__hero {
    @extend .bg-image;
    @extend .featured;
    @include flexbox-display-flex;
    @include flex-justify-content(center);
    @include flex(1);
    @include flex-direction(column);
    min-height: auto;
    height: 100vh;
    max-height: 350px;
    padding: 0 20px;
    width: 100%;
    @media (min-width: break($m)) {
        padding: 0 40px;
    }
    @media (min-width: break($l)) {
        padding: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $c-white;
    }
    h1 {
        margin: 0 auto 15px;
        width: 100%;
        max-width: 80%;
        @media (min-width: break($m)) {
            max-width: 660px;
        }
        @media (min-width: break($l)) {
            max-width: 900px;
        }
    }
    .button--primary {
        margin-top: 25px;
    }
    @media (min-width: break($m)) {
        max-height: 520px;
        padding: 0;
    }
}
.content-header__hero {
    .hero__slide {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.content-header__arrow {
    z-index: 1;
    position: absolute;
    bottom: $padding;
    left: 0;
    width: 100%;
    cursor: pointer;
    i {
        color: $c-white;
    }
}
.js-menu-open {
    .main-wrapper:after {
        @extend %overlay-active;
    }
}
.js-modal-open,
.js-menu-open {
    body {
        height: 100%;
        overflow: hidden;
    }
}
.js-modal-open {
    .main-wrapper:before {
        @extend %overlay-active;
        z-index: 10000;
    }
}
.content-header__arrow {
    @extend .animate-hover;
}
