$featured-mml: 951px;
.featured {
    position: relative;
    padding: 0;
    height: 100%;
    text-align: center;
    @include flexbox-display-flex;
    width: 100%;
    max-height: 420px;
    padding-top: 55px;
    @media (min-width: break($m)) {
        max-height: 520px;
    }
}

.home-press {
    background-size: cover;
    background-position: center $header-height;
    padding: 0;
    width: 100%;
    @include flexbox-display-flex;
    @include flex-direction(column);
    @include flex-justify-content(center);
    vertical-align: middle;
    @media (min-width: break($m)) {
        padding-top: 120px;
    }
    @media (min-width: break($l)) {
        background-position: center $top-bar-height + $header-height;
    }
    h1 {
        @extend %h1;
        color: $c-white;
        width: 100%;
        margin: 20px 0 50px 0;
        padding: 0 60px;
        @media (min-width: break($l)) {
            width: 70%;
            margin: 20px auto 30px auto;
        }
    }
    p {
        color: $c-white;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
    }
}
