.gform_wrapper {
    margin: 0 auto;
    max-width: 700px;
    .gform_fields {
        padding-left: 0;
        list-style-type: none;
        font-size: 0.01px;
        text-align: left;
        @media (min-width: break($s)) {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    .gfield_html {
        &.text-center {
            text-align: center;
        }
    }
    .gfield,
    .gfield_label {
        text-align: left;
        font-size: 14px;
    }
    .gfield {
        margin-top: 0;
        margin-bottom: 20px;
        padding-left: 0;
        @media (min-width: break($s)) {
            padding-left: 10px;
            padding-right: 10px;
        }
        &:before {
            content: '';
        }
    }
    .gfield_required {
        color: $c-red;
        margin-left: 4px;
    }
    .gfield_radio,
    .gfield_checkbox {
        padding: 0;
        margin: 0;
        list-style-type: none;
        @media (min-width: break($s)) {
            display: flex;
            justify-content: space-between;
        }
        li {
            @extend .clearfix;
            padding: 0;
            margin: 5px 0 0;
            vertical-align: top;
            @media (min-width: break($s)) {
                display: inline-block;
                margin-top: 0;
            }
            &:before {
                content: none;
            }
            input {
                float: left;
                margin-top: 3px;
            }
            label {
                display: block;
                margin: 0 0 0 22px;
                text-transform: none;
            }
        }
    }
    .gfield_checkbox {
        li {
            position: relative;
        }
        input[type="checkbox"] {
            opacity: 0;
            &:focus {
                outline: none;
                + label:after {
                    box-shadow: 0 0 4px rgba(darken($c-green, 10%), 0.4);
                }
            }
            &:checked {
                + label:after {
                    background-color: $c-green;
                    background-image: url('../img/checkmark.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        label {
            &:after {
                @extend .trans-all;
                background-color: $c-white;
                content: "";
                display: block;
                position: absolute;
                width: 14px;
                height: 14px;
                top: 0;
                left: 0;
                border: 1px solid $c-green;
                @media (min-width: break($s)) {
                    top: 1px;
                }
            }
        }
        input[type="checkbox"] {
            position: relative;
        }
    }
    .gfield_total {
        text-align: center;
        .gfield_label {
            @extend %h5;
            text-align: center;
        }
        .ginput_total {
            @extend %h3;
            color: $c-green;
        }
    }
    .gfield_calculation {
        display: none;
    }
    .gfield_description {
        margin-bottom: 20px;
    }
    .gsection {
        margin-top: 40px;
        &.no-border {
            margin-top: -10px;
            .gsection_title {
                padding-top: 0;
                &:before {
                    content: none;
                }
            }
        }
        &.no-text {
            .gsection_title {
                padding-top: 20px;
            }
        }
    }
    .gsection_title {
        @extend %h5;
        margin: 0;
        text-align: center;
        position: relative;
        padding-top: 40px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            height: 1px;
            width: 40px;
            background-color: $c-black;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
    .no-justify {
        .gfield_radio,
        .gfield_checkbox {
            display: block;
            li {
                margin-right: 75px;
            }
        }
    }
    .single {
        .gfield_radio,
        .gfield_checkbox {
            display: block;
            li {
                margin: 0 0 20px;
            }
        }
    }
    .dropdown {
        position: relative;
        &:after {
            position: absolute;
            content: "\f107";
            font-family: "FontAwesome";
            top: 13px;
            right: 15px;
            font-size: 20px;
            z-index: 0;
            @media (min-width: break($s)) {
                top: 11px;
            }
        }
    }
    input[type="radio"] {
        -webkit-appearance: radio;
    }
    input[type="checkbox"] {
        -webkit-appearance: checkbox;
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    select,
    textarea,
    .dropdown,
    .dropdown__item {
        @extend %normal;
        height: 45px;
        background: $c-white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    select,
    textarea,
    .dropdown,
    .dropdown__list {
        border: 1px solid $c-border;
        width: 100%;
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    select,
    textarea {
        @extend .trans-border-color;
        padding: 2px 14px 0;
    }
    textarea {
        height: 245px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    textarea {
        &:focus,
        &:active {
            border-color: $c-green;
        }
    }
    select {
        background-color: $c-white;
    }
    p {
        margin-top: 10px;
    }
}

.gform_heading {
    text-align: center;
    margin-bottom: 23px;
}

.gform_footer {
    margin: 0;
    padding: 0;
    text-align: center;
    input[type=image],
    input[type=submit] {
        @extend .trans,
        .button,
        .button--primary;
        padding-bottom: 12px !important;
    }
}

.gform_wrapper h3.gform_title {
    @extend %h4;
    margin-top: 0;
    margin-bottom: 20px;
}

.gform_wrapper .gfield_label,
.gform_wrapper label {
    @extend %h6;
    display: block;
    margin: 0 0 8px;
}

.gform_wrapper label.gfield_label + .ginput_container {
    margin-top: 0;
}

.gfield_creditcard_warning_message {
    margin-bottom: 20px;
    color: $c-red;
}

.ginput_complex {
    .gform_wrapper label.gfield_label+& {
        @media (min-width: break($s)) {
            margin-top: -10px;
        }
    }
    .gform_card_icon_container {
        overflow: hidden;
        margin-bottom: 20px;
    }
    @media (min-width: break($s)) {
        margin-left: -10px;
        margin-right: -10px;
        font-size: 0;
    }
    > span {
        display: block;
        margin-top: 20px;
        vertical-align: top;
        position: relative;
        @media (min-width: break($s)) {
            display: inline-block;
            width: 50%;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    > .ginput_full {
        @media (min-width: break($s)) {
            width: 100%;
        }
    }
}

.ginput_complex > .ginput_cardextras {
    display: block;
    font-size: 0;
    padding: 0;
    > span {
        display: block;
        @media (min-width: break($s)) {
            display: inline-block;
            float: left;
            padding: 0 10px;
        }
    }
    .ginput_cardinfo_left {
        select {
            margin-bottom: 10px;
            @media (min-width: break($s)) {
                margin-bottom: 0;
            }
        }
        @media (min-width: break($s)) {
            width: 60%;
            font-size: 0;
            .dropdown {
                width: calc(50% - 10px);
                display: inline-block;
                & ~ .dropdown {
                    margin-left: 20px;
                }
            }
        }
    }
    .ginput_cardinfo_right {
        margin-top: 10px;
        @media (min-width: break($s)) {
            margin-top: 0;
            width: 40%;
            .ginput_card_security_code {
                width: auto;
                margin-right: 7px;
            }
        }
    }
}

.field-small,
.field-small-break {
    @media (min-width: break($s)) {
        vertical-align: top;
        width: 50%;
    }
}

.field-small {
    @media (min-width: break($s)) {
        display: inline-block;
    }
}

.gfield_error {
    input[type="text"],
    input[type="number"],
    input[type="email"],
    textarea,
    select {
        border-color: $c-red;
    }
}

.validation_error,
.validation_message {
    color: $c-red;
}

.validation_error {
    margin-bottom: 20px;
    text-align: center;
}

.validation_message {
    @extend %normal;
    margin-top: 10px;
}

.ginput_container_select,
.ginput_complex {
    select {
        @media (min-width: break($m)) {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    .dropdown {
        @extend %normal,
        .trans-border-color;
        display: none;
        user-select: none;
        cursor: pointer;
        @media (min-width: break($m)) {
            display: block;
        }
        &.js-focused {
            border-color: $c-green;
        }
        &.js-dropdown-toggling {
            .dropdown__list {
                z-index: 50;
                display: block;
            }
        }
        &.js-active-dropdown {
            .dropdown__list {
                display: block;
                z-index: 100;
            }
        }
    }
    .dropdown__current,
    .dropdown__item {
        padding: 12px 14px 0;
        height: 45px;
    }
    .dropdown__current {
        position: relative;
        z-index: 30;
    }
    .dropdown__list {
        @extend .trans-all;
        display: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: calc(100% - 1px);
        left: -1px;
        right: -1px;
        margin: 0;
        padding: 0;
        transform: translateY(-10px);
        max-height: 66.66vh;
        overflow: scroll;
        width: auto;
        &.js-dropped {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }
    .dropdown__item {
        @extend .trans-background-color;
        height: 44px;
        margin: 0;
        &:before {
            content: none;
        }
        &:hover,
        &.dropdown__item--selected {
            background-color: $c-featured;
        }
    }
    .dropdown__item + .dropdown__item {
        height: 45px;
        border-top: 1px solid $c-border;
    }
}


/** Gravity Forms Credit Card Icons **/

div.gform_card_icon {
    margin-right: 4px;
    text-indent: -9000px;
    background-image: url(../img/gf-creditcard-icons.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 32px;
    float: left;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_visa {
    background-position: 0 0;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa {
    background-position: 0 -32px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa {
    background-position: 0 -64px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_mastercard {
    background-position: -36px 0;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard {
    background-position: -36px -32px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard {
    background-position: -36px -64px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_amex {
    background-position: -72px 0;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex {
    background-position: -72px -32px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex {
    background-position: -72px -64px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_discover {
    background-position: -108px 0;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover {
    background-position: -108px -32px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover {
    background-position: -108px -64px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_maestro {
    background-position: -144px 0;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro {
    background-position: -144px -32px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro {
    background-position: -144px -64px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_jcb {
    background-position: -180px 0;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb {
    background-position: -180px -32px;
}

.gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb {
    background-position: -180px -64px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_visa {
    background-position: 0 -192px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa {
    background-position: 0 -224px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa {
    background-position: 0 -256px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_mastercard {
    background-position: -36px -192px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard {
    background-position: -36px -224px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard {
    background-position: -36px -256px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_amex {
    background-position: -72px -192px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex {
    background-position: -72px -224px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex {
    background-position: -72px -256px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_discover {
    background-position: -108px -192px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover {
    background-position: -108px -224px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover {
    background-position: -108px -256px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_maestro {
    background-position: -144px -192px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro {
    background-position: -144px -224px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro {
    background-position: -144px -256px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_jcb {
    background-position: -180px -192px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb {
    background-position: -180px -224px;
}

.gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb {
    background-position: -180px -256px;
}

.ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
    width: 32px;
    height: 23px;
    background-image: url(../img/gf-creditcard-icons.png);
    background-repeat: no-repeat;
    background-position: 0 -128px;
    position: relative;
    display: block;
    margin-top: 10px;
    @media (min-width: break($s)) {
        display: -moz-inline-stack;
        display: inline-block;
        top: -2px;
        left: 6px;
    }
}

div.wrap.gf_browser_safari .ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
    top: -2px;
}

div.wrap.gf_browser_gecko .ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
    top: -4px;
}

div.wrap.gf_browser_ie .ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
    position: relative;
    top: -2px;
}
