%bg {
    background-position: center;
    background-repeat: no-repeat;
}

%bg-cover {
    @extend %bg;
    background-size: cover;
}

.bg-contain {
    @extend %bg;
    background-size: contain;
}

.bg-image {
    @extend %bg-cover;
}
