@font-face{
  font-family:"Open Sans";
  src:url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face{
  font-family:"Open Sans";
  src:url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face{
  font-family:"Open Sans Condensed";
  src:url("../fonts/OpenSansCondensed-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
