@font-face{
  font-family:"Futura PT";
  src:url("../fonts/FuturePT-Book.eot");
  src:url("../fonts/FuturePT-Book.eot?#iefix") format("eot"),
  url("../fonts/FuturePT-Book.woff") format("woff"),
  url("../fonts/FuturePT-Book.ttf") format("truetype"),
  url("../fonts/FuturePT-Book.svg#FuturePT-Book") format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face{
  font-family:"Futura PT";
  src:url("../fonts/FuturePT-Medium.eot");
  src:url("../fonts/FuturePT-Medium.eot?#iefix") format("eot"),
  url("../fonts/FuturePT-Medium.woff") format("woff"),
  url("../fonts/FuturePT-Medium.ttf") format("truetype"),
  url("../fonts/FuturePT-Medium.svg#FuturePT-Medium") format("svg");
  font-style: normal;
  font-weight: 500;
}
@font-face{
  font-family:"Futura PT Cond";
  src:url("../fonts/FuturePTCond-Bold.eot");
  src:url("../fonts/FuturePTCond-Bold.eot?#iefix") format("eot"),
  url("../fonts/FuturePTCond-Bold.woff") format("woff"),
  url("../fonts/FuturePTCond-Bold.ttf") format("truetype"),
  url("../fonts/FuturePTCond-Bold.svg#FuturePTCond-Bold") format("svg");
  font-style: normal;
  font-weight: 700;
}
