
<header class="header ">
  <div class="header__secondary">
    {{#if logo_secondary}}
      <a href="/" class="header__secondary-logo">
        <img data-src="{{ logo_secondary }}" class="header__secondary-image">
      </a>
    {{/if}}
  </div>
</header>
