<div class="intro-block intro-block--hidden{{#if class}} {{ class }}{{/if}}"{{#if id}} id="{{ id }}"{{/if}}>
  <div class="intro-block__inner">
    {{#if headline}}
      <h2 class="main-heading intro-block__headline">{{ headline }}</h2>
    {{/if}}
    {{#if description}}
      <div class="p intro-block__description">{{ description }}</div>
    {{/if}}
  </div>
</div>
