.page-template-about-us {
    .our-partners {
        margin: 0;
        padding: 0;
        .gray-container {
            padding-top: 0;
        }
    }
    hr {
        margin: ($padding * 2) 0;
        width: 100%;
        height: 0;
        border: 1px solid #ddd;
    }
}
